.search-container {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.search-input {
    min-width: 40%;
}

.search-container > button {
    font-size: calc(12px + 1vmin);
}